{% extends 'main/base.html' %}

{% block content %}


{% if validlink %}

<style>
        #{{form.new_password1.id_for_label}}, #{{form.new_password2.id_for_label}}
                {
                    display: block;
                    width: 30em;
                    height: calc(1.5em + .75rem + 2px);
                    padding: .375rem .75rem;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #ced4da;
                    border-radius: .25rem;
                    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
                }
                
        .errorlist{
                    color: red;
                }
                
</style>
<br>
<br>

            <div style="position: relative; top:10%; width:60%; margin: 0 auto 0 auto;">
                    <h1>
                            تغيير كلمة المرور
                        </h1>
                        <hr>
                        <br>
                        <br>
                <form method="POST">
                {% csrf_token %}
  
{{form.as_p}}
          

                <button type="submit" class="btn btn-success">
                    تغيير كلمة المرور
                </button>
            </form>
            </div>
        


  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>

    <script>
            function toggle_display(id) {
              var x = document.getElementById(id);
              if (x.style.display === "none") {
                x.style.display = "block";
              } else {
                x.style.display = "none";
              }
            } 
    </script>

  {% endif %}
{% endblock %}