{% extends 'main/base.html' %}


{% block content %}




<style>
    #{{form.email.id_for_label}}
    {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
    }
    
    .errorlist{
        color: red;
    }
    
    </style>
    <br>
    <br>
    <div style="position: relative; top:10%; width:60%; margin: 0 auto 0 auto;">
    <form method="POST">
        {% csrf_token %}
    
        <div class="form-row">
            <div class="form-group col-md-5 ">
                <p>
                  أدخل بريدك الإلكتروني و سنقوم بإرسال اسم المستخدم الخاص بك و تزويدك برابط لإعادة ضبط كلمة المرور إذا كنت مسجل لدينا بالفعل:
                </p>
                </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5 ">
               
                    {{form.email}}
                    {{ form.email.errors }}
                </div>
        </div>
  
    <br>
     <br>
        <button type="submit" class="btn btn-success">استرجاع الحساب</button>
    </form>
    </div>



{% endblock %}