{% load i18n %}
{% load read_settings %}

{% translate "Dear" %} {{user.get_username}},
        
{% translate "We have received a password reset request for your account at" %} {% read_settings "SITE_NAME" %}.

{% translate "Username:" %} {{ user.get_username }}

{% translate "Please click the following link to reset your password:" %}


{{ protocol }}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}



{% translate "If you haven't made this request, please ignore this email." %}


{% translate "Best Regards" %},
{% translate "Admins of" %} {% read_settings "SITE_NAME" %}
