{% extends 'main/base.html' %}
{% load i18n %}
{% block content %}
<br>
<br>
<div class="container" style="text-align: center;">
    <span style="font-size: 3em; color: #0eb15a;">
        <i class="fas fa-check-square fa-4x"></i>
    </span>
    <br><br>
    <h1> {% translate "Password Changed Successfully" %} </h1>
    <hr>
    <br>
    <p>
        {% translate "You can now login with your new password" %}
    </p>
    <br>
    <button class="btn btn-success btn-lg" onclick="window.location = '{% url 'login'%}' "> {% translate "Login" %}
    </button>
</div>
{% endblock %}