server {
    listen ${PORT};
    location / {
        proxy_set_header Host $host;
        proxy_pass http://app:3000;
    }
    location /static/ {
        root /app/project/;
    }
    location /media/ {
        root /app/project/;
    }
}
