{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}


{% block content %}
<div class="container custom-section">
    <form method="POST">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-5 ">
                <p>
                    {% translate "Please enter your email. We will send you an email with a link to reset your password" %}
                </p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5 ">

                {{form.email}}
                {{ form.email.errors }}
            </div>
        </div>

        <br>
        <br>
        <button type="submit" class="btn btn-success"> {% translate "Recover Password" %} </button>
    </form>
</div>

{% endblock %}