{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}

{% block content %}
{% if validlink %}
<div class="container custom-section">
  <h1> {% translate "Reset Password" %} </h1>
  <hr><br><br>
  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-success">
      {% translate "Change Password" %}
    </button>
  </form>
</div>
{% else %}
<p>
  {% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %} 
</p>

<script>
  function toggle_display(id) {
    var x = document.getElementById(id);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  } 
</script>

{% endif %}
{% endblock %}