{% extends 'main/base.html' %}
{% block content %}
{% if user.is_staff %}
<br>
<br>
<br>

<div style="position: relative; width:50em; top: 20%; margin: 0 auto 10em auto;">
    <h4> الأسماء التي لم توثق بعد: </h4>
    <br><br>
    <div class="list-group">

     
        {% for change in changes %}
       
            
            <a href="{% url 'main:person_tree' change.id %}" class="list-group-item list-group-item-action"> 
             إضافة من قبل :
             {% for editor in change.editors.all %}
             {{editor}},
             {% endfor %}
                  
                &nbsp;&nbsp; |  &nbsp;&nbsp;
                الاسم المضاف:
                {{change}}

             </a>
        {% endfor %}
        
    </div>
    <br><br>
    <button onclick="window.history.back()" class="btn btn-danger btn-lg" type="button" style="width: 7em">إلغاء</button>
</div>

{% endif %}
{% endblock %}