{% load static %}
{% load i18n %}

<script type="text/javascript" src="{% static "js/thirdparty/coloris.min.js" %}"></script>
<link rel="stylesheet" href="{% static "css/thirdparty/coloris.min.css" %}">


<style>
    .mask {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .modal-dialog-custom {
        margin-top: 30vh;
    }

    .colorLabel {
        margin: 20px;
    }
    .custom-close{
        background-color: transparent;
        border: none;
        font-size: 1.5em;
        color: rgb(125, 125, 125);
    }
</style>

<div id="EditBookmarkModal" class="modal" style="z-index: 10000;">
    <div class="mask"></div>
    <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
            <div class="modal-header header-custom">
                <h5 class="modal-title"> {% translate "Edit Bookmark" %} </h5>
                <button class="custom-close" type="button" onclick="hideBookmarkModal()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="bookmarkModalLabel"> {% translate "Label" %} </label>
                    <textarea id="bookmarkModalLabel" class="form-control" placeholder="{% translate 'leave empty for no change' %}"
                        cols="40"></textarea>
                </div>
                <div class="form-group">
                    <label for="bookmarkModalColor"> {% translate "Color" %} </label><br>
                    <input type="text" class="form-control" id="bookmarkModalColor"
                        placeholder="{% translate 'leave empty for no change' %}" data-coloris>
                </div>
                <div class="form-group">
                    <label for="bookmarkModalFontColor"> {% translate "Font Color" %} </label><br>
                    <input type="text" class="form-control" id="bookmarkModalFontColor"
                        placeholder="{% translate 'leave empty for no change' %}" data-coloris>
                </div>
                <div class="form-group">
                    <label for="bookmarkModalFontSize"> {% translate "Font Size" %} </label>
                    <input type="number" class="form-control" id="bookmarkModalFontSize"
                        placeholder="{% translate 'leave empty for no change' %}">
                </div>
            </div>
            <div class="modal-footer">
                <button id="bookmarkModalSaveBtn" class="btn btn-danger" type="button"> {% translate "Save" %} </button>
            </div>
        </div>
    </div>
</div>

<script>
    function hideBookmarkModal() {
        const modal = document.getElementById("EditBookmarkModal");
        modal.style.display = "none";
    }
</script>