{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "css/edit.css" %}">
{% endblock %}


{% block content %}
{% if user.is_authenticated %}


<div class="container custom-section">
    <div class="row justify-content-center">
        <div class="col-sm-7">
            <form action="{% url 'main:save' orig_id person.id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="edit-buttons-container">
                    <input type="submit" value='{% translate "Save" %}' class="btn btn-primary btn-lg editFormButtons">
                    <button class="btn btn-danger btn-lg editFormButtons" type="button"
                        onclick="window.location = '{% url 'main:person_tree' orig_id%}'"> {% translate "Cancel" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>

</div>


{% endif %}


<script>

    window.addEventListener("load", () => {
        const childrenInput = document.getElementById("{{form.children.id_for_label}}");
        const choices1 = new Choices(childrenInput, {
            delimiter: ',',
            editItems: true,
            maxItems: 100,
            removeItems: false,
        });

        {% if person.access == "public" and not user.is_staff %}
        const disabledFields = ["name", "reference", "history", "designation"]
        disabledFields.forEach((field_name) => {
            const field = document.getElementById(`id_${field_name}`);
            field.disabled = true;
            field.style.background = "#e9ecef";
        })
        {% endif %}

    });
</script>
{% endblock %}