{% extends 'main/base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<script type="text/javascript" src="{% static "js/thirdparty/vis-network.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/thirdparty/vis-data.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/thirdparty/apollo-client.min.js" %}"></script>
<link rel="stylesheet" href="{% static "css/home.css" %}">

<script type="module" src="{% static "js/home.js" %}"></script>

<div class="tree-wrapper">
    <!-- Tree canvas -->
    <div id="tree"></div>
    <!-- Right click menu -->
    {% if user.is_staff %}    
    <div class="options" id="options">
        <div class="list-group">
            <button id="editBtn" type="button" class="list-group-item list-group-item-action">
                <i class="fas fa-wrench"></i> &nbsp; {% translate "Edit" %}
            </button>
            <button id="resetBtn" type="button" class="list-group-item list-group-item-action">
                <i class="fas fa-undo-alt"></i> &nbsp; {% translate "Reset" %}
            </button>            
            <button id="unBookmarkBtn" type="button" class="list-group-item list-group-item-action">
                <i class="fas fa-star"></i> &nbsp; {% translate "Remove Bookmark" %}
            </button>            
        </div>
    </div>
    {% endif %}    
</div>

{% include "main/edit_bookmark_modal.html" %}

<script type="text/javascript">
    var nodes, edges, network;
    nodes = new vis.DataSet();
    edges = new vis.DataSet();
    nodes.add({{ data| safe }});
    edges.add({{ links| safe }});
</script>
{% endblock %}