{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "css/settings.css" %}">
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<br><br><br><br>
<div class="container">
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <br><br>
    <button type="submit" class="btn btn-success btn-lg"> {% translate "Save" %} </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-danger btn-lg" type="button" onclick="window.location = '{% url 'home:index' %}' ">
      {% translate "Cancel" %} </button>

    <br><br><br><br>
    <hr>
    <p> {% translate "Do you want to close your account and delete permanently?" %} </p>
    <button id="Btn-del" class="btn btn-danger" type="button"> {% translate "Delete Account" %} </button>
  </form>
</div>
<br>
<br>
<br>

{% include "main/confirmation_modal.html" with namespace="confirm" title=_("Confirm Deletion") body=_("Deleting your account will delete all your data including persons you added to the family tree which have not been published yet") %}

<script>
  var btn_del = document.getElementById("Btn-del");
  btn_del.onclick = function () {
    const modal = document.getElementById("confirmModal");
    modal.style.display = "block";
    const confirmButton = document.getElementById("confirmButton");
    confirmButton.onclick = () => {
      window.location = '{% url 'main:delete_user' %}';
    }
  }
</script>

<script>

  //moment.locale('ar');
  var picker = new Pikaday({

    field: document.getElementById('{{form.birth_date.id_for_label}}'),
    firstDay: 1,
    minDate: new Date(1900, 1, 1),
    maxDate: new Date({% now "Y" %}, 12, 31),
    yearRange: [1900, {% now "Y" %}],
  format: 'YYYY-MM-DD',
    isRTL: true,
      i18n: {
    previousMonth: 'الشهر السابق',
      nextMonth     : 'الشهر التالي',
        months        : ['يناير', 'فبراير', 'مارس', 'أبريل', 'مايو', 'يونيو', 'يوليو', 'أغسطس', 'سبتمبر', 'أكتوبر', 'نوفمبر', 'ديسمبر'],
          weekdays      : ['الأحد', 'الإثنين', 'الثلاثاء', 'الأربعاء', 'الخميس', 'الجمعة', 'السبت'],
            weekdaysShort : ['حد', 'ثن', 'ثل', 'ربع', 'خمس', 'جمع', 'سبت']
  },
  onSelect: function() {
  }
             });

</script>
{% endif %}
{% endblock %}