{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<style>
    li {
        margin: 30px 0;
    }
</style>
<div class="container custom-section">

    <h1> {% translate "Terms of Use" %} </h1>
    <hr>
    <p>
    <ul class="tos">
        <li>
            {% translate "I don't own the data I add to the family tree. I don't have the right to remove the data" %}
        </li>
        <li>
            {% translate "I don't have the right to remove my own account data." %}
        </li>
        <li>
            {% translate "I'm fully responsible and accountable for the correctness of the data I enter." %}
        </li>
        <li>
            {% translate "I understand that the family tree data may contain wrong information." %}
        </li>
        <li>
            {% translate "I understand that the family tree on this website is not a reliable source of information, it's just a way to ease exploring data other users have entered." %}
        </li>
    </ul>
    </p>
</div>



{% endblock %}