{% extends 'main/base.html' %}

{% block content %}

<br>
<br>
<br>

<div style="position: relative; top: 15%; width: 60%; margin: 0 auto 0 auto;">

    <h1>شروط الاستخدام</h1>
    <hr>
    <p>
        <ul>
            <li>
                لا يحق لي المطالبة بحذف البيانات التي أقوم بإدخالها بعد قيامي بطلب دمجها مع المشجرة الأصلية.
            </li>
            <li>
                لا يحق لي طلب حذف بياناتي الشخصية.
            </li>
            <li>
                أتحمل مسؤولية أي خطأ في البيانات التي أقوم بإدخالها.
            </li>
            <li>
                أدرك بأن المشجرة قد تحوي أخطاء.
            </li>
            <li>
              أدرك بأن المشجرة لا تعتبر مصدر توثيق للنسب و بأن الموقع فقط يسهل تصفح ما يتم إدخاله من المستخدمين.
            </li>
        </ul>
    </p>
</div>



{% endblock %}