{% extends 'main/base.html' %}
{% load i18n %}

{% block header %}
<style>
    .container {
        margin: 100px auto;
        max-width: 90%;
    }

    #cancelBtn {
        width: 7em;
    }
</style>
{% endblock %}


{% block content %}
{% if user.is_staff %}

<div class="container">
    <h4> {% translate "Pick a restore point of the database:" %}</h4>
    <br><br>
    <div class="list-group">

        {% for file in files_str %}
        <a href="{% url 'main:undo_do' forloop.counter0 %}" class="list-group-item list-group-item-action"> {{file}}
        </a>
        {% endfor %}

    </div>
    <br><br>
    <button id="cancelBtn" onclick="window.history.back()" class="btn btn-danger btn-lg" type="button">
        {% translate "Cancel" %} </button>
</div>

{% endif %}
{% endblock %}