{% extends 'main/base.html' %}
{% load i18n %}
{% block content %}
<br>
<br>
<div class="container" style="text-align: center;">
        <span style="font-size: 3em; color: #f02b45;">
                <i class="fas fa-exclamation-triangle fa-4x"></i>
        </span>
        <br><br>

        <h1>
                {% translate "Account Activation Failed!" %}
        </h1>
        <hr>
        <br><br>
        <p>
                {{activation_error.message}}
        </p>

        <button class="btn btn-success btn-lg" onclick="window.location = '{% url 'home:index' %}' ">
                {% translate "Home Page" %}
        </button>
        <br>
</div>
{% endblock %}