{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}

{% block content %}
<div class="container custom-section">
    <h5>
        {% translate "Please fill-in below your data (all fields)" %}
    </h5>
    <br>
    <form method="POST">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="{{form.username.id_for_label}}"> {% translate "Username" %} </label>
                <br>
                {{form.username}}
                {{ form.username.errors }}
                <div id="username_help" style="display: none">
                    {{ form.username.help_text }}
                </div>
            </div>
            <div class="form-group col-md-6 ">
                <label for="{{form.email.id_for_label}}"> {% translate "Email" %} </label>
                <br>
                {{form.email}}
                {{ form.email.errors }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 ">
                <label for="{{form.first_name.id_for_label}}"> {% translate "First Name" %} </label>
                <br>
                {{form.first_name}}
                {{ form.first_name.errors }}
            </div>
            <div class="form-group col-md-6 ">
                <label for="{{form.first_name.id_for_label}}"> {% translate "Father's Name" %} </label>
                <br>
                {{form.father_name}}
                {{ form.father_name.errors }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 ">
                <label for="{{form.first_name.id_for_label}}"> {% translate "Grandfather's Name" %} </label>
                <br>
                {{form.grandfather_name}}
                {{ form.grandfather_name.errors }}
            </div>

            <div class="form-group col-md-6 ">
                <label for="{{form.last_name.id_for_label}}"> {% translate "Family Name" %} </label>
                <br>
                {{form.last_name}}
                {{ form.last_name.errors }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 ">
                <label for="{{form.username.id_for_label}}"> {% translate "Password" %} <button type="button"
                        class="btn btn-link" onclick="
                        toggle_display('pass_help')
                        ">({% translate "?" %})</button> </label>
                <br>
                {{form.password1}}
                {{ form.password1.errors }}
                <div id="pass_help" style="display: none">
                    {{ form.password1.help_text }}
                </div>
            </div>

            <div class="form-group col-md-6 ">
                <label for="{{form.username.id_for_label}}"> {% translate "Confirm Password" %} </label>
                <br>
                {{form.password2}}
                {{ form.password2.errors }}

            </div>

        </div>


        <div class="form-row">
            <div data-locale="ar" class="form-group col-md-6 ">
                <label for="{{form.birth_date.id_for_label}}"> {% translate "Date of Birth" %} </label>
                <br>
                {{form.birth_date}}
                {{ form.birth_date.errors }}

            </div>

            <div class="form-group col-md-6 ">
                <label for="{{form.first_name.id_for_label}}"> {% translate "Place of Birth" %} </label>
                <br>
                {{form.birth_place}}
                {{ form.birth_place.errors }}
            </div>

        </div>



        <div class="form-row">
            <div class="form-group col-md-6">
                {{form.tos}}
                {{ form.tos.errors }}
                <label for="{{form.tos.id_for_label}}"> {% translate "I agree on the" %}
                    <a target="blank" href="{% url 'main:tos' %}">
                        {% translate "terms of use" %}
                    </a> . 
                </label>
            </div>
        </div>

        <br>

        <button type="submit" class="btn btn-success"> {% translate "Create Account" %} </button>

        <br><br>
        <hr>
        {% translate "Already have an account? Go to " %}
        <a href="{% url 'login' %}"><strong> {% translate "Login" %} </strong></a>
        <br>
        <br>
        <br>
    </form>
</div>


<script>
    function toggle_display(id) {
        var x = document.getElementById(id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } 
</script>

<script>
    //moment.locale('ar');
    var picker = new Pikaday({

        field: document.getElementById('{{form.birth_date.id_for_label}}'),
        firstDay: 1,
        minDate: new Date(1900, 1, 1),
        maxDate: new Date({% now "Y" %}, 12, 31),
        yearRange: [1900, {% now "Y" %}],
    format: 'YYYY-MM-DD',
        isRTL: true,
            i18n: {
        previousMonth: 'الشهر السابق',
            nextMonth     : 'الشهر التالي',
                months        : ['يناير', 'فبراير', 'مارس', 'أبريل', 'مايو', 'يونيو', 'يوليو', 'أغسطس', 'سبتمبر', 'أكتوبر', 'نوفمبر', 'ديسمبر'],
                    weekdays      : ['الأحد', 'الإثنين', 'الثلاثاء', 'الأربعاء', 'الخميس', 'الجمعة', 'السبت'],
                        weekdaysShort : ['حد', 'ثن', 'ثل', 'ربع', 'خمس', 'جمع', 'سبت']
    },
    onSelect: function() { }
    });
</script>


{% endblock %}