{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}


{% block content %}

<div class="container login-section">
  <form method="post" class="sub-section">
    {% csrf_token %}
    {{ form }}
    <hr>
    <button class="btn btn-primary" type="submit"> {% translate "Sign In" %}
    </button>
    &nbsp;&nbsp;
    <button onclick="window.location = '{% url 'password_reset' %}' " class="btn btn-primary" type="button">
      {% translate "Forgot Password?" %} </button>
  </form>

  <div class="sub-section">
    <p> {% translate "Don't have an account?" %} </p>
    <button onclick="window.location = '{% url 'django_registration_register' %}' " class="btn btn-success">
      {% translate "Sign Up" %} </button>
  </div>
</div>



{% endblock %}