{% extends 'main/base.html' %}
{% load i18n %}
{% block content %}
<br>
<br>
<div class="container" style="text-align: center;">
        <span style="font-size: 3em; color: #0eb15a;">
                <i class="fas fa-check-square fa-4x"></i>
        </span>
        <br><br>
        <h1> {% translate "Activation Successful!" %} </h1>
        <hr>
        <br>
        <p>
                {% translate "You can now login with your new account" %}
        </p>
        <br>
        <p>
                {% translate "As a user, you can add new persons to the tree." %}
                {% translate "Your changes will be local and only visible to you." %}<br>
                {% translate "Once a staff member verifies and approves your changes, they will be global and appear to all users." %}
                <br>
                {% translate "Staff members are periodically reviewing and approving changes, but it may take some time." %}<br>
                {% translate "You may also be contacted by the staff reviewing your changes" %}
        </p>
        <button class="btn btn-success btn-lg" onclick="window.location = '{% url 'login'%}' "> {% translate "Login" %}
        </button>
        <br><br>
</div>
{% endblock %}