.nav-link-custom {
    padding: 0 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.nav-link-custom:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-item-margin {
    margin: 0 10px;
}

.extra-padding {
    padding: 4px;
}

.expand-on-small {
    @media (max-width: 991px) {
        margin: 10px;
    }
}

.search-box {
    width: 25%;

    @media (max-width: 991px) {
        width: 90%;
    }
}

.no-padding {
    padding: 0;
}

.badge {
    position: relative;
    vertical-align: bottom;
    font-size: x-small;
    padding: 2px 4px;
    left: -12px;
    border-radius: 30%;
    background: rgb(255, 204, 0);
    color: rgb(0, 0, 0);
}